<!-- 1- (app.component.html) Realizar:
Una aplicación que se le ingresen dos edades en dos cuadro de textos
edadUno, EdadDos
mostrar el promedio y la suma en dos cuadros de textos nuevos
botones "calcular" y "limpiar cuadros de textos" -->

<!-- <h1>{{title}}</h1>

<h2>Edad uno: <input type="text" [(ngModel)]="edadUno"> </h2>
<h2>Edad dos: <input type="text" [(ngModel)]="edadDos"> </h2>

<button (click)="Calcular()">Calcular</button>
<button (click)="Limpiar()">Limpiar cuadros de textos</button>

<p> Suma: {{suma}}</p>
<p> Promedio: {{promedio}}</p> -->

<!-- <app-login></app-login> -->

<router-outlet />
